.Rproj.user
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.snakemake/
.vscode/
latex/
code/github
build/
sub/arxiv
sub/biometrics/*.bib
sub/biometrics/*.bst
sub/biometrics/main.tex
sub/biometrics/supp.tex
supp.tex.bak

# local rds (now handled by dat)
code/rds/*
!code/rds/.dat
code/rds/.dat/local

## Output files
code/out/*
sub/biometrics/code/out/*

*.pdf
*.html
*.out
*.aux
*.bbl
*.log
*.lot
*.lof
*.blg
*.toc
*.png
*.fdb_latexmk
*.fls
*.txt
*.gz

